<ng-container *ngIf="olympics$ | async as state">

  <p *ngIf="state.status === 'loading'">⏳ Chargement…</p>

  <p *ngIf="state.status === 'error'">❌ Erreur lors du chargement : {{ state.error }}</p>

  <ng-container *ngIf="state.status === 'success'">
    <div class="section-title">Medals per Country</div>

    <div class="stats-row">
      <app-stat-card
        title="Number of JOs"
        [value]="getTotalJOs(state.data) ?? '—'">
      </app-stat-card>

      <app-stat-card
        title="Number of countries"
        [value]="getTotalCountries(state.data) ?? '—'">
      </app-stat-card>
    </div>

    <app-medals-pie-chart [countries]="state.data"></app-medals-pie-chart>
  </ng-container>

</ng-container>
